<h1>My Recipe Box</h1>
<div class="row">
  <div class="col-md-6">
    <h3>Current Recipes</h3>
    <% if @recipes.any? %>
    <ul>
      <% @recipes.each do |recipe| %>
      <li><%= link_to recipe.name, recipe_path(recipe)%></li>
      <% end %>
    </ul>
    <% else %>
    <p>There are no recipes yet.</p>
    <% end %>
  </div>
  <div class="col-md-6"> -->
    <h3>Recipe by category</h3>
    <% if @tags.any? %>
    <ul>
      <% @tags.each do |tag| %>
      <li><%= link_to tag.category, tag_path(recipe)%></li>
      <% end %>
    </ul>
    <% else %>
    <p>There are no categorites to display.</p>
    <% end %>
  </div>
</div>

<p><%= link_to "Add a tag", new_recipe_tag_path(@recipe) %></p>

<p><%= link_to "Create New Recipe", new_recipe_path %></p>